.button {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  padding: 10px 25px 11px 25px;

  @include font-parameters ($ff-base, 18px, 1.67, 500);

  color: $color-base-black;
  text-decoration: none;
  background-color: #eccf94;

  border: none;
  cursor: pointer;
  user-select: none;
  transition: all $trans-base;

  &::before,
  &::after {
    position: absolute;
    z-index: 1;
    width: 65%;
    height: 124px;
    content: "";
  }

  &::before {
    bottom: -81px;
    left: -18px;
    background-image: linear-gradient(270.21deg, rgba(249, 139, 77, 0.8) 18.08%, rgba(255, 103, 82, 0.8) 68.72%);
    filter: blur(25px);
  }

  &::after {
    top: -81px;
    right: -18px;
    background-image: linear-gradient(270.21deg, rgba(255, 217, 196, 0.8) 18.08%, rgba(255, 255, 255, 0.8) 68.72%);
    filter: blur(25px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  &--back-call {
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    padding: 0;
  }

  @include hover {
    color: $color-base-black;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus-visible {
    outline: 2px solid $color-accent;
    outline-offset: 2px;
  }

  &--bordered {
    overflow: visible;
    padding: 14px 25px 16px 25px;
    color: $color-base-white;
    background-color: transparent;
    background-image: none;
    border: 1px solid $color-additional-light;
    border-radius: 2px;

    &::before,
    &::after {
      display: none;
    }

    @include hover {
      color: $color-accent;
      border-color: $color-accent;
      opacity: 1;
    }
  }

  @include vp-1199 {
    font-size: 16px;
  }
}

.button__inner {
  position: relative;
  z-index: 2;
}

.button--back-call .button__inner {
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  background-image: url("../img/svg/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}
