.constructor {
  padding: 0 $padding 121px;

  @include vp-1199 {
    padding: 0 $padding-tablet 101px;
  }

  @include vp-767 {
    padding: 0 $padding-mobile 81px;
  }
}

.constructor__wrapper {
  padding: 0 30px;

  @include vp-1199 {
    padding: 0;
  }
}

.constructor__title {
  margin-top: 0;
  margin-bottom: 67px;
  text-align: center;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(210.22deg, #ffffff 31.8%, rgba(255, 255, 255, 0) 100.73%);

  @include vp-1199 {
    margin-bottom: 57px;
  }

  @include vp-767 {
    margin-bottom: 50px;
  }
}

.constructor__form {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 60px 84px;

  @include vp-1199 {
    grid-template-columns: minmax(400px, auto) minmax(200px, auto);
    justify-content: center;
    justify-items: center;
    grid-gap: 40px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0 auto;
  }
}

.constructor__image {
  width: 533px;
  height: 374px;

  img {
    width: 100%;
    height: 100%;
  }

  @include vp-1199 {
    grid-column: 1 / -1;
    justify-self: center;
  }

  @include vp-767 {
    width: 70vw;
    min-width: $min-content-width;
    height: 48.8vw;
    min-height: 196px;
  }
}

.constructor__option-title {
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.2em;
  text-transform: uppercase;

  @include font-parameters($ff-base, 10px, 5.5, 500);
}

.constructor__options {
  @include vp-1199 {
    grid-column: 1 / 2;
  }

  @include vp-767 {
    width: 100%;
    max-width: 400px;
  }
}

.constructor__output {
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;

  @include vp-1199 {
    grid-column: 2 / 3;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  @include vp-767 {
    grid-column: 1 / 2;
    width: 100%;
    max-width: 400px;
  }
}

.constructor__output-item {
  margin: 0;
  font-size: 24px;
  line-height: 2.3;

  &--price {
    font-size: 36px;
    line-height: 1.1;
    font-weight: 300;
    color: $color-accent;
    letter-spacing: 0.05em;
  }

  @include vp-1199 {
    &--price {
      margin-bottom: 30px;
    }
  }

  @include vp-767 {
    font-size: 20px;

    &--price {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }
}

.constructor__output-title {
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.13em;
  text-transform: uppercase;

  @include font-parameters($ff-base, 12px, 4.6, 500);

  @include vp-767 {
    line-height: 3;
  }
}

.constructor__functions-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 217px));
  grid-gap: 20px;
  justify-content: space-between;
  align-items: start;
  padding: 0;
  border: none;

  @include vp-1199 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 217px));
    grid-gap: 0 40px;
    justify-content: start;
  }

  @include vp-767 {
    grid-template-columns: 217px;
    grid-gap: 0;
  }
}

.constructor__checkboxes-column {
  display: flex;
  flex-direction: column;
}

.constructor__functions-title {
  font-weight: 500;
  line-height: 2.14;
}

.constructor__button {
  padding: 14px 55px;
}
