.promo {
  padding: 20px $padding 223px;

  @include vp-1199 {
    padding: 20px $padding-tablet 223px;
  }

  @include vp-767 {
    padding: 20px $padding-mobile 223px;
  }
}

.promo__wrapper {

  padding: 0 48px;

  @include vp-1199 {
    padding: 0;
  }

  @include vp-767 {

  }
}

.promo__title {
  min-width: 640px;

  @include vp-1199 {

  }

  @include vp-767 {
    text-align: center;
  }
}

.promo__price {
  @include font-parameters($ff-base, 14px, 2.86, 300);

  color: $color-accent;
  letter-spacing: 0.05em;
  vertical-align: baseline;
}

.promo__price-value {
  margin-left: 2px;
  font-size: 24px;
  line-height: 1.67;
  vertical-align: baseline;
}

.promo__features-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);
  grid-gap: 60px;
}

.promo__feature-item {
  padding-top: 44px;
  text-align: center;
}

